*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: rgb(186, 57, 193);
    padding: 30px;
}

header nav{
    background-color: rgb(195, 0, 255);
    width: fit-content;
    float: right;
    line-height: 60px;
    height: 60px;
}

header nav a{
    text-decoration: none;
    color: black;
    font-size: 18pt;
    margin-left: 30px;
}


section.clear{
    clear: both;
}



header div.profile-picture{
    width: 60px;
    height: 60px;
    float: right;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    margin-left: 30px;
    background-image: url(/JAVASCRIPT/07/akademicrypto.jpeg);
    background-size: cover;
}
section.google h1{
    font-size: 60px;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 180px;
}
section.google form{
    width: 880px;
    margin: 0px auto;
    text-align: center;
}
section.google form div{
    display: inline-block;
    border: 1px solid black;
    padding: 5px 10px;
    height: 36px;
    border-radius: 18px;
}
section.google form input[type=text]{
    border: none;
    outline: none;
    width: 500px;
}
section.google form input[type=submit]{
    height: 36px;
    width: 36px;
    border-radius: 18px;
    background-color: magenta;
    border: none;
    cursor: pointer;
    
}





@media screen and (max-width:670px){
   
    header nav{
        float: left;
    }
    
    header nav a {
        margin: 0 5px 0 0;
        font-size: 12pt;
    }
    header nav a.icon{
        display: none;
    }
    section.google form{
        width: 90%;
    }
    section.google form input[type=text]{
        width: 250px;
    }
    section.google form input[type=submit]{
        display: none;
    }
    span.icon-search{
        display: none;
    }

}
