<main class="about-page">
  <h1>About Serenita Game</h1>
  
  <section class="about-hero">
    <img src="./assets/_c4b9f5e0-553a-4b43-8887-de6b7e3fd0b4.jpeg" alt="">
    
    <div class="about-text">
      <h2>Our Story</h2>

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae delectus quasi sed iure corrupti iste fuga excepturi ea? Numquam, dolorem.</p>
      
      <h2>What We Offer</h2>

      <ul>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, unde!</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint inventore mollitia totam voluptatum aliquam nostrum.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque minus et dignissimos est ab delectus officiis eum dicta sunt incidunt?</li>
      </ul>
      
      <h2>Our Team</h2>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus laboriosam et soluta non officiis ipsum molestias commodi nulla nostrum, illum iusto eius saepe culpa sapiente beatae suscipit dolorem dolorum. Rerum, ut quo voluptate, iusto repudiandae fuga impedit architecto necessitatibus ipsam adipisci repellat eligendi accusantium molestiae unde magnam alias reiciendis dolor.
      </p>
    </div>
  </section>
  
  <section class="about-contact">
    <h2>Contact Us</h2>
    <p>Email: 123@lorem@gmail.com</p>
    <p>Phone: 6289662790907396</p>
    <p>Address: 123 456 789, Palembang</p>
  </section>
</main>