<main class="game-home">
    <section class="hero">
        <h1>Welcome to Serenita Game Hub</h1>
        <p>Discover, Play, and Connect with Gamers Worldwide</p>
        <button>Click</button>
    </section>

    <section id="games" class="game">
        <h2>Featured Games</h2>
        <div class="game-grids">

            <div class="game-grid">
                <img src="./assets/_10fa77e5-ae4e-4d8e-9304-eeae3f948cda.jpeg" alt="Epic Adventure">
                <h3>Epic Adventure</h3>
                <p>Embark on a journey through mystical lands</p>
                <a href="#">Play Now</a>
            </div>
            <div class="game-grid">
                <img src="./assets/_2504185c-8357-4715-bc1d-30fd798c5c58.jpeg" alt="Space Odyssey">
                <h3>Space Odyssey</h3>
                <p>Explore the vastness of the universe</p>
                <a href="#">Play Now</a>
            </div>
            <div class="game-grid">
                <img src="./assets/_658b80d8-a5d4-41e1-9182-384b34b648bd.jpeg" alt="Puzzle Master">
                <h3>Puzzle Master</h3>
                <p>Challenge your mind with intricate puzzles</p>
                <a href="#">Play Now</a>
            </div>
            
        </div>
    </section>
</main>