<footer>
    <p>Copyright &copy; <span id="year"></span> Pokemon. All rights reserved<p/>
    <script>
        document.getElementById('year').innerHTML = new Date().getFullYear();
    </script>
</footer>