<nav class="navbar">
  <div class="navbar-logo">
    <img src="./assets/pokemon.png" alt="Logo Pokemon" class="pokemon-image">
    <p class="brand-name">Serenita</p>
  </div>

  <div class="nav-links">
    <a href="/" class="nav-link">Home</a>
    <a href="/events" class="nav-link">Events</a>
    <a href="/about" class="nav-link">About</a>
  </div>
</nav>